.last-page__header-container{
  max-width: 1150px;
  margin: auto;
}
.last-page__title{
  position: absolute;
  top: 200px;
  left: 0;
  display: inline-block;
  color: #8C4001;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background: rgba(255,255,255,0.8);
}
.last-page .photo{
  height: 520px;
  margin-top:64px;
  overflow:hidden;
  position: relative;
}
.last-page__content{
  min-height: 600px;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-bottom: 20px;
}
.last-page__order-form{
  width: 25%;
  margin-left: 2%;
  background: #8C4001;
  text-decoration: none;
  height: 120px;
  color: white;
  cursor: pointer;
  p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
  .last-page__order-form__title{
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
.last-page__promo{
  max-width: 1200px;
  margin: auto;
  font-size: 18px;
  margin-top: 15px;
}
.last-page__promo__header{
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
