.page-header{
position: fixed;
z-index: 300000;
width: 100%;
background: white;
}
.main-nav{

}
.main-nav__toggle{
  display: none;
}
.borer-container{
    border-bottom: 3px solid #8F4508;
}
.nav__wrapper{
  transition: height 0.3s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: left;
  height: 80px;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-top: 8px;
}
.nav__logo{
  flex-basis: 215px;
  margin-left: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  a{
    transition: all 0.3s;
    height: 75px;
    width: 160px;
  }
}
.main__nav-list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-basis: 60%;
  align-items:baseline;
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
    background: white;
    border: none;
    h
    &:hover{
      background: red;
    }
    a{
      font-size: 17px;
      line-height: 40px;
      text-transform: uppercase;
      color: #8c3f01;
      padding: 20px 15px;
    }
    a:hover{
      color:#ffa90d ;
    }
    a:active{
      color: #000000;
    }
  }
}
.nav__logo{
  a{
    display: block;
  }
  img{

    height: 100%;
    display: block;
  }
}
.main__nav-list .active span{
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 40px;
  color:black;
  text-transform: uppercase;
  font-weight: bold;
  color:#8c3f01;
  opacity: 0.6;
  cursor: default;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    color:#604e43;
  }
  &:active{
    color:#766357;
  }
}
.page-header--small{

    .nav__wrapper{
      height: 40px;
    }
    .nav__logo{
      a{
          transition: all 0.3s;

          height: 40px;
          width: 85px;
      }
      img{

      }
    }
}
