.specialty{
  background: white;
  padding-bottom: 50px;
  color:#D67C54;
}
.specialty__list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content:space-around;
}
.specialty__title{
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 80px;
  text-align: center;
}
.specialty__item{
  flex-basis: 10%;
  display: block;
  position: relative;
  margin-top: 140px;
  vertical-align: bottom;
  font-size: 24px;
  text-align: center;
  color: #403D3B;
  i{
    font-size: 70px;
    line-height: 70px;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
      color:#D67C54;
  }

}
